<!-- Begin slider -->
<div class="span12">
  <div class="flexslider-container">
    <div class="flexslider">
      <ul class="slides">
      	{% if settings.display_slideshow_1 %}
      	<li><a href="{{ settings.image_1_link }}"><img src="{{ 'slideshow_1.jpg' | asset_url }}" /></a></li>
        {% endif %}
        {% if settings.display_slideshow_2 %}
      	<li><a href="{{ settings.image_2_link }}"><img src="{{ 'slideshow_2.jpg' | asset_url }}" /></a></li>
        {% endif %}
        {% if settings.display_slideshow_3 %}
      	<li><a href="{{ settings.image_3_link }}"><img src="{{ 'slideshow_3.jpg' | asset_url }}" /></a></li>
        {% endif %}
        {% if settings.display_slideshow_4 %}
      	<li><a href="{{ settings.image_4_link }}"><img src="{{ 'slideshow_4.jpg' | asset_url }}" /></a></li>
        {% endif %}
        {% if settings.display_slideshow_5 %}
      	<li><a href="{{ settings.image_5_link }}"><img src="{{ 'slideshow_5.jpg' | asset_url }}" /></a></li>
        {% endif %}
        {% if settings.display_slideshow_6 %}
      	<li><a href="{{ settings.image_6_link }}"><img src="{{ 'slideshow_6.jpg' | asset_url }}" /></a></li>
        {% endif %}
        {% if settings.display_slideshow_7 %}
      	<li><a href="{{ settings.image_7_link }}"><img src="{{ 'slideshow_7.jpg' | asset_url }}" /></a></li>
        {% endif %}
        {% if settings.display_slideshow_8 %}
      	<li><a href="{{ settings.image_8_link }}"><img src="{{ 'slideshow_8.jpg' | asset_url }}" /></a></li>
        {% endif %}
        {% if settings.display_slideshow_9 %}
      	<li><a href="{{ settings.image_9_link }}"><img src="{{ 'slideshow_9.jpg' | asset_url }}" /></a></li>
        {% endif %}
        {% if settings.display_slideshow_10 %}
      	<li><a href="{{ settings.image_10_link }}"><img src="{{ 'slideshow_10.jpg' | asset_url }}" /></a></li>
        {% endif %}
      </ul>
      <div class="flex-controls"></div>
    </div>
  </div>
</div>
<!-- End slider -->

<!-- Begin intro -->
<div class="span12 p20">
{% if settings.homepage != blank %}
  {{ pages[settings.homepage].content }}
{% endif %}
</div>
<!-- End intro -->
      
<div class="products">
  {% for product in collections[settings.frontpage_collection].products %}
  {% include 'product-loop' with settings.frontpage_collection %}
  {% endfor %}
</div>

